<div class="row">
  <div class="col-md-6">
    <h3>Jan 18 2018</h3>
    <h3>Richter Library 343</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Jan 19 2018</h3>
    <h3>McArthur Engineering Annex 202
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td>Building programs with Python</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Advanced Topics in Python</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
